#don't change this part the script will do it on it's own
[place]
old_place = 0
total = 0
date = 0

[email]
email = "no@mail.com"

[pushbullet]
api = "change me"

[twitter]
consumer_key = "changeme"
consumer_secret = "changeme"
access_token_key = "changeme"
access_token_secret = "changeme"



[firstrun]
firstrun = 0 #Change to 1 part after editing the script.